---
version: 2.1

jobs:
  run-renovate:
    docker:
      - image: renovate/renovate:42.71.3-full
    working_directory: ~/project
    resource_class: small
    parallelism: 5
    environment:
      RENOVATE_CONFIG_FILE: config.js
    steps:
      - checkout
      - run:
          name: Run renovate
          command: |
            export GPG_KEY=$(echo "${GPG_KEY_BASE64}" | base64 --decode)
            [ "${CIRCLE_BRANCH}" != "master" ] || [ "${CIRCLE_PULL_REQUEST##*/}" != "" ] && renovate -- --dry-run || renovate

workflows:
  version: 2
  run-renovate:
    jobs:
      - run-renovate:
          context:
            - aws_svc_renovate
            - renovate-bot
  run-renovate-on-schedule:
    when:
      and:
        - equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - run-renovate:
          context:
            - aws_svc_renovate
            - renovate-bot
          filters:
            branches:
              only: master
